{% extends "base.html" %}
{% load static %}

{% block title %}
    Mission
{% endblock title %}

{% block content %}
    <style>
        @keyframes float-up {
            from {
                opacity: 0;
                transform: translateY(50px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .card.shadow {
            animation: float-up 0.5s ease;
            animation-fill-mode: backwards;
            background: rgba(255, 255, 255, 0.5); /* This gives a glass effect */
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(4px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
        }

        .card.shadow:hover {
            transform: scale(1.005); /* This will slightly enlarge the mission box when hovered */
            transition: transform .2s; /* Smooth transition */
        }

        /* Add more if you have more missions */

    </style>
    {% if show_guide %}
        <!-- 提醒框 -->
        <div class="alert alert-warning" role="alert" id="guide-alert">
            <p>请完善你的部门和班组信息</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#departmentTeamModal">
                选择部门和班组
            </button>
        </div>
    {% endif %}

    <!-- 模态对话框 -->
    <div class="modal fade" id="departmentTeamModal" tabindex="-1" role="dialog"
         aria-labelledby="departmentTeamModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="departmentTeamModalLabel">选择部门和班组</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">提交</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="d-flex justify-content-between">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'myapp:mission_list' %}?order=newest{% if selected_category %}&category={{ selected_category }}{% endif %}">发布时间排序</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'myapp:mission_list' %}?order=total_views{% if selected_category %}&category={{ selected_category }}{% endif %}">浏览量排序</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#categoryModal">
                    文章类别
                </button>
            </div>
        </div>
    </div>

    <!-- 文章类别选择模态对话框 -->
    <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="categoryModalLabel">选择文章类别</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'myapp:mission_list' %}?category=销售支撑网类"
                                                       {% if selected_category == '销售支撑网类' %}class="active"{% endif %}>销售支撑网类</a>
                        </li>
                        <li class="list-group-item"><a href="{% url 'myapp:mission_list' %}?category=认领规则类"
                                                       {% if selected_category == '认领规则类' %}class="active"{% endif %}>认领规则类</a>
                        </li>
                        <li class="list-group-item"><a href="{% url 'myapp:mission_list' %}?category=每周实例新建类"
                                                       {% if selected_category == '每周实例新建类' %}class="active"{% endif %}>每周实例新建类</a>
                        </li>
                        <li class="list-group-item"><a href="{% url 'myapp:mission_list' %}?category=月度稽核类"
                                                       {% if selected_category == '月度稽核类' %}class="active"{% endif %}>月度稽核类</a>
                        </li>
                        <li class="list-group-item"><a href="{% url 'myapp:mission_list' %}?category=代码类"
                                                       {% if selected_category == '代码类' %}class="active"{% endif %}>代码类</a>
                        </li>
                        <li class="list-group-item"><a href="{% url 'myapp:mission_list' %}?category=虚拟类"
                                                       {% if selected_category == '虚拟类' %}class="active"{% endif %}>虚拟类</a>
                        </li>
                        <li class="list-group-item"><a href="{% url 'myapp:mission_list' %}?category=代码类"
                                                       {% if selected_category == '代码类' %}class="active"{% endif %}>代码类</a>
                        </li>
                        <li class="list-group-item"><a href="{% url 'myapp:mission_list' %}?category=下基层"
                                                       {% if selected_category == '下基层' %}class="active"{% endif %}>下基层</a>
                        </li>
                        <!-- 添加其他类别的链接 -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12 mb-4">
            <form class="form-inline" method="GET" action="{% url 'myapp:mission_list' %}">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="按照关键字进行搜索" aria-label="Search"
                           name="search" value="{{ request.GET.search }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">搜索</button>
                    </div>
                </div>
            </form>
        </div>
        {% for mission in missions %}
            <div class="col-12 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <div class="ios-icon"></div>
                            <h4 class="card-title font-weight-bold ml-2">
                                {{ mission.title }}
                                <span class="ml-2 badge badge-primary">得分:{{ mission.average_rating|floatformat:2 }}</span>
                            </h4>
                        </div>
                        <p class="card-text">{{ mission.body|striptags|slice:'100' }}...</p>
                    </div>
                    <div class="card-footer d-flex align-items-center">
                        <a href="{% url 'myapp:mission_detail' mission.id %}" class="btn btn-primary mr-auto">阅读</a>
                        <div class="text-muted small rounded p-2">
                            <span class="font-weight-bold">创建者:</span>
                            <span class="ml-1">{{ mission.mission_taker }}</span>
                        </div>
                        <div class="text-muted small rounded p-2">
                            <span class="font-weight-bold">文章类别:</span>
                            <span class="ml-1">{{ mission.article_type }}</span>
                        </div>
                        <div class="text-muted small rounded p-2">
                            <span class="font-weight-bold">创建时间:</span>
                            <span class="ml-1">{{ mission.created }}</span>
                        </div>
                        <div class="text-muted small rounded p-2 ml-2">
                            <span class="font-weight-bold">浏览量:</span>
                            <span class="ml-1">{{ mission.total_views }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <div class="m-auto">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if missions.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ missions.previous_page_number }}">{{ missions.previous_page_number }}</a>
                        </li>
                    {% endif %}
                    <li class="page-item active"><a class="page-link" href="#">{{ missions.number }}</a></li>
                    {% if missions.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ missions.next_page_number }}">{{ missions.next_page_number }}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ missions.paginator.num_pages }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // 当部门的选择项改变时，更新班组的选择项
            $('#id_department').change(function () {
                var department = $(this).val();
                if (department === '业务运营与IT支撑中心') {
                    $('#id_team').html(
                        '<option value="数据支撑班">数据支撑班</option>' +
                        '<option value="业务稽核班">业务稽核班</option>'
                    );
                } else {
                    $('#id_team').empty();
                }
            });
        });
    </script>

{% endblock content %}
