{% extends "base.html" %}
{% load static %}

{% block title %}
    Edit
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="col-12">
            <br>
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {% for field in form %}
                    <div class="form-group">
                        <div><label for="{{ field.id_for_label }}" class="text-dark">{{ field.label }}: </label></div>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

{% endblock content %}
